.benefits {
  display: flex;
}

.benefits__list {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--button-background-color);
  border-radius: 4px;
}

.benefits__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  margin: 0px 0px 10px 0px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* What we do */

.work {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.work__list {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.work-thumb-one {
  &::before {
    position: absolute;
    content: 'ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    color: var(--primary-color);
    background-color: var(--secondary-background-color);
    bottom: 0px;
  }
}

.work-thumb-two {
  &::before {
    position: absolute;
    content: 'МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    color: var(--primary-color);
    background-color: var(--secondary-background-color);
    bottom: 0px;
  }
}

.work-thumb-three {
  &::before {
    position: absolute;
    content: 'ДИЗАЙНЕРСКИЕ РЕШЕНИЯ';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    color: var(--primary-color);
    background-color: var(--secondary-background-color);
    bottom: 0px;
  }
}

