.logo-blue {
  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  outline: none;
  display: inline-block;
}

.logo-black {
  font-family: 'Raleway', sans-serif;
  color: var(--logo-secondary-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  color: var(--tertiary-text-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
