:root {
    --primary-background-color: #ffffff;
    --hero-gackground-color: #2f303a;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --tertiary-text-color: #ffffff;
    --logo-secondary-color: #000000;
    --accent-color: #2196f3;
    --button-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }